/* CSS declarations go here */
.back-to-map {
  padding: 8px;
}

.table.half {
  width: 50%;
  float: left;
}

.beverage {
  margin-bottom: 16px;
}

.placeholder {
  text-indent: -999px;
}

.low {
  color: #ff5500;
}

.too-old {
  td {
    background: #ff5500 !important;
  }
}

.tableContainer {
   overflow: hidden;
   width: 935px;
   clear: both;
   border: 1px solid #ccc;
   height: 370px;
   border-radius: 4px;
   margin-bottom: 40px;
 }

.tableContainer table {
  width: 935px;
  float: left;
}

.fixedHeader tr {
  display: block;
  position: relative;
}

.scrollContent {
  display: block;
  height: 330px;
  overflow: auto;
  width: 100%;
}

.scrollContent td.col-2 {
  width: 480px;
}

.fixedHeader th.col-2 {
  width: 480px;
}

.scrollContent td.col-3 {
  width: 320px;
}

.fixedHeader th.col-3 {
  width: 320px;
}

.scrollContent td.col-4 {
  width: 240px;
}

.fixedHeader th.col-4 {
  width: 240px;
}

h2 {
  margin-top: 0;
}

.network-status {
  float: right;
  margin-bottom: -20px;
}

.location-beverages {
  .name, .start-units, .fill-to, .order-when {
    display: inline-block;
    width: 20%;
    margin-right: 10px;
  }
}

.blocker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .3;
}

.cell {
  transition: all .5s;
}
.updating {
  background: #ff5500 !important;
}

.buttons {
  padding: 40px 0;
}
.save-bev {
  background: #5bc0de;
}
