template(name='Daily')
  h1 Daily Total for {{dateParams}}

  table.table.table-striped
    thead
      tr
        th
        each locations
          th {{number}}
        th Totals
    tbody
      each bevTable
        tr
          td {{name}}
          each locationTotals
            td {{this}}
