template(name='admin')
  header
    +adminNav
  .container
    .row
      +networkStatus
      +yield

template(name='adminNav')
  nav.collapse.navbar-collapse.navbar.navbar-default
    ul.nav.navbar-nav
      li
        a(href="{{pathFor 'home'}}") Home
      li(class="{{ isActiveRoute 'beveragesAdd' }}")
        a(href="{{pathFor 'beveragesAdd'}}") Beverage Admin
      li(class="{{ isActiveRoute 'locationAdd' }}")
        a(href="{{pathFor 'locationAdd'}}") Location Admin
      li(class="{{ isActiveRoute 'adminUsersCreate' }}")
        a(href="{{pathFor 'adminUsersCreate'}}") Add Users
      li(class="{{ isActiveRoute 'adminUsersManage' }}")
        a(href="{{pathFor 'adminUsersManage'}}") Manage Roles
    ul.nav.navbar-nav.navbar-right
      +loginButtons
