template(name='home')
  header
    .container
      +homeNav
  .container
    .row
      +networkStatus
      +yield

template(name='homeNav')
  nav.collapse.navbar-collapse
    ul.nav.navbar-nav
      li
        a(href="{{pathFor 'home'}}") Home
      li
        a(href="{{pathFor 'dashboard'}}") Dashboard
      li
        a(href="{{pathFor 'locations'}}") All Locations
    ul.nav.navbar-nav.navbar-right
      +loginButtons
