head
  title Dublin Irish Festival 2015
  meta(name="apple-mobile-web-app-status-bar-style" content="black")
  meta(name="apple-mobile-web-app-capable" content="yes")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")

template(name='homeLayout')
  header
    +homeNav
  .container
    .row
      +networkStatus
      +yield

template(name='homeNav')
  button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
    span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar

  nav.collapse.navbar-collapse.navbar.navbar-default
    ul.nav.navbar-nav
      +if isInRole 'inventory, order, admin'
        li(class="{{ isActiveRoute 'allLocations' }}")
          a(href="{{pathFor 'allLocations'}}") All Locations
      +if isInRole 'token, admin'
        li(class="{{ isActiveRoute 'tokenLocations' }}")
          a(href="{{pathFor 'tokenLocations'}}") Token Locations
      +if isInRole 'token, admin'
        li(class="{{ isActiveRoute 'boothLocations' }}")
          a(href="{{pathFor 'boothLocations'}}") Booth Locations
      li(class="{{ isActiveRoute 'dashboard' }}") 
        a(href="{{pathFor 'dashboard'}}") Dashboard
      li(class="{{ is ActiveRoute 'tokenMap' }}")
        a(href="{{pathFor 'tokenMap'}}") Token Map
      li(class="{{ is ActiveRoute 'rotaryMap' }}")
        a(href="{{pathFor 'rotaryMap'}}") Rotary Map
    ul.nav.navbar-nav.navbar-right
      +loginButtons
