template(name='inventorySummary')
  header
    +inventorySummaryNav
  .container
    .row
      +networkStatus
      +yield

template(name='inventorySummaryNav')
  button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
    span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar

  nav.collapse.navbar-collapse.navbar.navbar-default
    ul.nav.navbar-nav
      li(class="{{ isActiveRoute 'inventorySummaryAll' }}")
        a(href="{{pathFor 'inventorySummaryAll'}}") Inventory Summary All
      li(class="{{ isActiveRoute 'inventorySummaryLocations' }}")
        a(href="{{pathFor 'inventorySummaryLocations'}}") Inventory Summary By Location
    ul.nav.navbar-nav.navbar-right
      +loginButtons


