template(name='locationLayout')
  header
    +locationNav
  .container
    .row
      +networkStatus
      +yield
  +modal

template(name='locationNav')
  button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
    span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar

  nav.collapse.navbar-collapse.navbar.navbar-default
    ul.nav.navbar-nav
      li
        a(href="{{pathFor 'allLocations'}}") All Locations
      li(class="{{ isActiveRoute 'location' }}")
        a(href="{{pathFor 'location'}}") Last Inventory
      li(class="{{ isActiveRoute 'orderHistory' }}")
        a(href="{{pathFor 'orderHistory'}}") Order History
      li(class="{{ isActiveRoute 'inventoryHistory' }}")
        a(href="{{pathFor 'inventoryHistory'}}") Inventory History
      li(class="{{ isActiveRoute 'startingInventory' }}")
        a(href="{{pathFor 'startingInventory'}}") Starting Inventory
      li(class="{{ isActiveRoute 'showNotes' }}")
        a(href="{{pathFor 'showNotes'}}") Notes
      +if isInRole 'admin'
        li(class="{{ isActiveRoute 'dashboard' }}")
          a(href="{{pathFor 'dashboard'}}") Dashboard
    ul.nav.navbar-nav.navbar-right
      +loginButtons

template(name='modal')
  .modal.fade#confirmation
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal") &times;
          h4 Confirmation
        .modal-body
          p Are you sure?
        .modal-footer
          button.btn.btn-default(type="button", data-dismiss="modal") Close
          button.btn.btn-success#confirm(type="button") Save Changes
