template(name='report')
  header
    +reportNav
  .container
    .row
      +networkStatus
      +yield

template(name='reportNav')
  button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
    span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar

  nav.collapse.navbar-collapse.navbar.navbar-default
    ul.nav.navbar-nav
      li(class="{{ isActiveRoute 'reportTotal' }}")
        a(href="{{pathFor 'reportTotal'}}") Festival Total
      each days
        li(class="{{highlightNav href}} daily-report")
          a(href="/report{{href}}") {{dayName}}
    ul.nav.navbar-nav.navbar-right
      +loginButtons

