template(name='reportsLayout')
  header
    .container
      +backToMap
      +reportsNav
  .container
    .row
      +networkStatus
      +yield

template(name='reportsNav')
  button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
    span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar

  nav.collapse.navbar-collapse.navbar.navbar-default
    ul.nav.navbar-nav
      li
        a(href="{{pathFor 'home'}}") Home
      li(class="{{ isActiveRoute 'latestInventories' }}")
        a(href="{{pathFor 'latestInventories'}}") Latest Inventories
      li(class="{{ isActiveRoute 'latestOrders' }}")
        a(href="{{pathFor 'latestOrders'}}") Latest Orders
      li(class="{{ isActiveRoute 'unfilledOrders' }}")
        a(href="{{pathFor 'unfilledOrders'}}") Unfilled Orders
    ul.nav.navbar-nav.navbar-right
      +loginButtons

