template(name='tokenLocationLayout')
  header
    if backMenu.available
      +backToMap
    +tokenLocationNav
  .container
    .row
      +networkStatus
      +yield
  +modal

template(name='tokenLocationNav')
  button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
    span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar

  nav.collapse.navbar-collapse.navbar.navbar-default
    ul.nav.navbar-nav
      li(class="{{ isActiveRoute 'tokenLocations' }}")
        a(href="{{pathFor 'tokenLocations'}}") Token Locations
      li(class="{{ isActiveRoute 'boothLocations' }}")
        a(href="{{pathFor 'boothLocations'}}") Booth Locations
      li(class="{{ isActiveRoute 'showTokenCollections' }}")
        a(href="{{pathFor 'showTokenCollections'}}") Tokens Collected
      li(class="{{ isActiveRoute 'showTokenLocationNotes' }}")
        a(href="{{pathFor 'showTokenLocationNotes'}}") Notes
    ul.nav.navbar-nav.navbar-right
      +loginButtons

