template(name='addNote')
  .col-md-12
    h1 {{number}} {{name}}
  .col-md-6
    .form-group
      .col-md-12
        .form-group
          textarea.form-control#note(rows='10', cols='40')
      .col-md-12
        .form-group
          button.btn.btn-default.btn-success.btn-block#add-note(type='button') Add Note
      .col-md-12
        .form-group
          a.btn.btn-default.btn-block(href="{{pathFor 'location'}}") Cancel
