template(name='addBeverages')
  h1 Beverage Admin
  .col-md-3
    each beverages
      .beverage
        span.destroy &times;
        span {{name}} -- {{value}}

  .col-md-9
    .new-item-box
      .form-group.col-md-3
        input.form-control(type="text" id="beverage-text" placeholder="New Beverage")
      .form-group.col-md-3
        input.form-control(type="text" id="beverage-value" placeholder="Token Value")
      .form-group.col-md-3
        input.form-control(type="text" id="beverage-startingInventory" placeholder="Starting Inventory")
      .form-group.col-md-3
        button#beverageAdd.btn.btn-primary.btn-lg(type="button") Add Beverage
