template(name='addTokenDelivery')
  .col-md-12
    h2 {{number}} {{name}}
    h3 {{organization}}
    h4 Add Token Delivery

  .col-md-6
    .form-group
      .col-md-12
        .form-group
          label(for='add-tokens') Tokens
          input.form-control#tokens-delivered(type='number')
      .col-md-12
        .form-group
          button.btn.btn-default.btn-success.btn-block#add-tokens(type='button') Add Token Delivery
      .col-md-12
        .form-group
          a.btn.btn-default.btn-block(type='button') Cancel

