template(name='adminLocation')
  .col-md-12
    if editingLocation
      .form-group.col-md-3
        label(for="number") Location #
        input#number.form-control(value='{{number}}')
      .form-group.col-md-9
        label(for="name") Name
        input#name.form-control(value='{{name}}')
      .form-group.col-md-12
        label(for="organization") Organization
        input#organization.form-control(value='{{organization}}')
      .form-group.col-md-12.colors
        h5 Colors
        label(class="radio-inline")
          input(type="radio" value="none" name="locationColor" checked="{{colorChecked 'none'}}")
          span None
        label(class="radio-inline")
          input(type="radio" value="green" name="locationColor" checked="{{colorChecked 'green'}}")
          span.color.green
        label(class="radio-inline")
          input(type="radio" value="blue" name="locationColor" checked="{{colorChecked 'blue'}}")
          span.color.blue
        label(class="radio-inline")
          input(type="radio" value="black" name="locationColor" checked="{{colorChecked 'black'}}")
          span.color.black
        label(class="radio-inline")
          input(type="radio" value="white" name="locationColor" checked="{{colorChecked 'white'}}")
          span.color.white
        label(class="radio-inline")
          input(type="radio" value="purple" name="locationColor" checked="{{colorChecked 'purple'}}")
          span.color.purple
        label(class="radio-inline")
          input(type="radio" value="red" name="locationColor" checked="{{colorChecked 'red'}}")
          span.color.red
      .form-group.col-md-12
        label
          input(id="viewableByOrder" type="checkbox" checked="{{orderPermission}}")
          | Viewable By Order
      .form-group.col-md-12
        label
          input(id="viewableByInventory" type="checkbox" checked="{{inventoryPermission}}")
          | Viewable By Inventory
      .form-group.col-md-12
        label
          input(id="locationVendor" type="checkbox" checked="{{vendor}}")
          | Vendor
      .form-group.col-md-12
        button.btn.btn-primary.pull-right.save-edit-location Save

    else
      h1 Location {{number}} {{name}}
      h3 {{organization}}
      button.btn.btn-default.pull-right.edit-location Edit Location Info
      h4 Color:
        {{{locationColor}}}
      if orderPermission
        h4 Viewable By Order
      if inventoryPermission
        h4 Viewable by Inventory
      if vendor
        h4 Vendor

  .col-md-12
    .new-item-box.location-beverage
      h2 Beverage Info
      .form-group.col-md-6
        label(for='bevName') Name
        input#bevName.form-control(type='text')
      .form-group.col-md-2
        label(for='startUnits') Start Units
        input#startUnits.form-control(type='text')
      .form-group.col-md-2
        label(for='fillTo') Fill To
        input#fillTo.form-control(type='text')
      .form-group.col-md-2
        label(for='orderWhen') Order When
        input#orderWhen.form-control(type='text')
      .form-group.col-md-9
        button#beverageAdd.btn.btn-primary.btn-lg(type="button") Add Location Beverage

  .col-md-12.location-beverages
    h3 Beverages for this location
    .name Beverage
    .start-units Start Units
    .fill-to Fill To
    .order-when Order When
    .list-group
      each beverages
        .bev.list-group-item
          if isBeingEdited
            input.name#editBevName(value='{{name}}')
            input.start-units#editStartUnits(value='{{startUnits}}')
            input.fill-to#editFillTo(value='{{fillTo}}')
            input.order-when#editOrderWhen(value='{{orderWhen}}')
            a.save-bev.badge Save
          else
            .name {{name}}
            .start-units{{startUnits}}
            .fill-to{{fillTo}}
            .order-when {{orderWhen}}
            a.edit-bev.badge edit
            span.destroy.badge &times;
