template(name='adminLocation')
  .col-md-12
    h1 Location {{number}} {{name}}
    h3 {{organization}}

  .col-md-12
    .new-item-box.location-beverage
      h2 Beverage Info
      .form-group.col-md-6
        label(for='bevName') Name
        input#bevName.form-control(type='text')
      .form-group.col-md-2
        label(for='startUnits') Start Units
        input#startUnits.form-control(type='text')
      .form-group.col-md-2
        label(for='fillTo') Fill To
        input#fillTo.form-control(type='text')
      .form-group.col-md-2
        label(for='orderWhen') Order When
        input#orderWhen.form-control(type='text')
      .form-group.col-md-9
        button#beverageAdd.btn.btn-primary.btn-lg(type="button") Add Location Beverage

  .col-md-12.location-beverages
    h3 Beverages for this location
    .name Beverage
    .start-units Start Units
    .fill-to Fill To
    .order-when Order When
    .list-group
      each beverages
        .bev.list-group-item
          if isBeingEdited
            input.name#editBevName(value='{{name}}')
            input.start-units#editStartUnits(value='{{startUnits}}')
            input.fill-to#editFillTo(value='{{fillTo}}')
            input.order-when#editOrderWhen(value='{{orderWhen}}')
            a.save-bev.badge Save
          else
            .name {{name}}
            .start-units{{startUnits}}
            .fill-to{{fillTo}}
            .order-when {{orderWhen}}
            a.edit-bev.badge edit
            span.destroy.badge &times;
