template(name='adminLocation')
  .col-md-12
    if editing
      input#number(value="{{number}}")
      input#name(value="{{name}}")
      input#organization(value="{{organization}}")
      h1 Some Old Bullshit
    else
      h1 Location {{number}} {{name}}
      h3 {{organization}}
      button.btn.btn-default.pull-right.edit Edit Location Info

  .col-md-12
    .new-item-box.location-beverage
      h2 Beverage Info
      .form-group.col-md-6
        label(for='bevName') Name
        input#bevName.form-control(type='text')
      .form-group.col-md-2
        label(for='startUnits') Start Units
        input#startUnits.form-control(type='text')
      .form-group.col-md-2
        label(for='fillTo') Fill To
        input#fillTo.form-control(type='text')
      .form-group.col-md-2
        label(for='orderWhen') Order When
        input#orderWhen.form-control(type='text')
      .form-group.col-md-9
        button#beverageAdd.btn.btn-primary.btn-lg(type="button") Add Location Beverage

  .col-md-12.location-beverages
    h3 Beverages for this location
    .name Beverage
    .start-units Start Units
    .fill-to Fill To
    .order-when Order When
    .list-group
      each beverages
        .bev.list-group-item
          .name {{name}}
          .start-units.editable {{startUnits}}
          .fill-to.editable {{fillTo}}
          .order-when {{orderWhen}}
          span.destroy.badge &times;
