template(name='dashboardInventory')
  h1 Dashboard
  table.table.table-striped
    thead
      tr
        th Location
        th Last Inv Timestamp
        th Last Inv User
        th Time Since Last Inv
        th Location #
    tbody
      each latestInventories
        tr
          td
            a(href="{{pathFor 'inventoryHistory'}}") {{locationName}}
          td {{ formatDate timestamp "long" }}
          td {{username}}
          td {{ timesince timestamp }}
          td {{locationNumber}}
