template(name='dashboardOrders')
  h1 Dashboard
  table.table.table-striped
    thead
      tr
        th Location
        th Unfilled Orders
        th Oldest Unfilled Order Time
        th Time Since Oldest Unfilled Order
        th Location #
    tbody
      each undeliveredOrders
        tr
          td
            a(href="{{pathFor 'orderHistory'}}") {{locationName}}
          td {{unfilledOrdersCount}}
          td {{ formatDate oldestOrder.timestamp "long" }}
          td {{ timesince oldestOrder.timestamp }}
          td {{locationNumber}}
