template(name='dashboardNotes')
  h1 Dashboard
  table.table.table-striped
    thead
      tr
        th Location
        th # of Notes
        th Last Note Timestamp
        th Time Since Last Note
        th Location #
    tbody
      each locations
        tr
          td {{locationName}}
          td {{notesCount}}
          td {{ formatDate newestNote.timestamp "long" }}
          td {{ timesince newestNote.timestamp }}
          td {{locationNumber}}

