template(name='dashboardNotes')
  h1 Dashboard
  table.table.table-striped
    thead
      tr
        th Location
        th # of Notes
        th Last Note Timestamp
        th Time Since Last Note
        th Location #
    tbody
      each latestInventories
        tr
          td {{locationName}}
          td {{noteCount}}
          td {{timestamp}}
          td {{timesince}}
          td {{locationNumber}}

