template(name='location')
  .col-md-12.clearfix
    h2 {{number}} {{name}}
    h3 {{organization}}

    .tableContainer
      table.table.table-striped
        thead.fixedHeader
          tr
            th.col-4 Beverage Offered
            th.col-4 Units Reported
            th.col-4 Order When Below
            th.col-4 Fill To Standard
        tbody.scrollContent
          each inventory
            tr.datetime
              td(colspan='4')
                b Reported at: {{ formatDate timestamp "long" }}
            tr.reporter
              td(colspan='4')
                b Reported by: {{username}}
            each beverages
              tr
                td.col-4 {{name}}
                td.col-4(class='{{ indicateLow units orderWhen }}') {{units}}
                td.col-4 {{orderWhen}}
                td.col-4 {{fillTo}}

  +invOrdButtons
