template(name='orderHistory')
  .col-md-12
    h1 This is the location page
    h2 {{number}} {{name}}
    h3 {{organization}}

    table.table.table-striped
      thead
        tr
          th Beverage Offered
          th Units Ordered
          th Order Sent
      tbody
        each orders
          tr.datetime
            td(colspan='4') {{timestamp}}
          each beverages
            tr
              td {{name}}
              td {{units}}
              td {{sent}}

    .col-md-6
      a.btn.btn-default.btn-success.btn-block(href="{{pathFor 'updateInventory'}}") Update Inventory
    .col-md-6
      a.btn.btn-default.btn-block(type='button') Record Order

