template(name='orderHistory')
  .col-md-12
    h2 {{number}} {{name}}
    h3 {{organization}}

    table.table.table-striped
      thead
        tr
          th Beverage Offered
          th Units Ordered
          th Order Sent
      tbody
        each orders
          tr.datetime.order-info(data-id="{{_id}}")
            td(colspan='4') {{ formatDate timestamp "long" }}
          each beverages
            tr.order-beverages
              td {{name}}
              td {{units}}
              td
                +deliveredButton

    .col-md-6
      a.btn.btn-default.btn-success.btn-block(href="{{pathFor 'updateInventory'}}") Update Inventory
    .col-md-6
      a.btn.btn-default.btn-block(href="{{pathFor 'recordOrder'}}") Record Order

template(name='deliveredButton')
  button.btn.btn-primary.order-sent(data-sent="{{sent}}", data-id="{{_id}}") {{sent}}
