template(name='recordOrder')
  .col-md-12
    h1 {{location.name}}
    .beverages
      each location.beverages
        .beverage
          .name.col-md-6 {{name}}
          .number.col-md-6
            span.incr.btn.btn-default.col-md-1(data-incr="down") &minus;
            .col-md-4
              input.form-control(type='text', value='0')
            span.incr.btn.btn-default.col-md-(data-incr='up') &plus;

    .col-md-6
      button.btn.btn-default.btn-success.btn-block#record-order(type='button') Record Order
    .col-md-6
      a.btn.btn-default.btn-block(href="{{pathFor 'locations'}}") Cancel
