template(name='startingInventory')
  .col-md-12
    h2 {{number}} {{name}}
    h3 {{organization}}

    table.table.table-striped
      thead
        tr
          th Beverage Offered
          th Units
      tbody
        tr.datetime
          td(colspan='2') {{ formatDate inventory.timestamp "long" }}
        each beverages
          tr
            td {{name}}
            td {{startUnits}}

    .col-md-6
      a.btn.btn-default.btn-success.btn-block(href="{{pathFor 'updateInventory'}}") Update Inventory
    .col-md-6
      a.btn.btn-default.btn-block(href="{{pathFor 'recordOrder'}}") Record Order
