template(name='startingInventory')
  .col-md-12
    h2 {{number}} {{name}}
    h3 {{organization}}

    .tableContainer
      table.table.table-striped
        thead.fixedHeader
          tr
            th.col-2 Beverage Offered
            th.col-2 Units
        tbody.scrollContent
          each beverages
            tr
              td.col-2 {{name}}
              td.col-2 {{startUnits}}

    .col-md-6
      a.btn.btn-default.btn-success.btn-block(href="{{pathFor 'updateInventory'}}") Update Inventory
    .col-md-6
      a.btn.btn-default.btn-block(href="{{pathFor 'recordOrder'}}") Record Order
