template(name='tokenDeliveryReport')
  h1 Token Delivery Report
  .download
    a(href='#') Download csv

  table.table.table-striped
    thead
      tr
        th Beverage Station
        each deliveryDates
          th {{date}}
        th Total
    tbody
      each reportTable
        tr
          td {{name}}
          each locationTotals
            td {{total}}
