template(name='updateInventory')
  .col-md-12
    h1 {{location.number}} {{location.name}}
    .beverages.clearfix
      each location.beverages
        .beverage.clearfix
          .name.col-sm-6 {{name}}
          .number.col-sm-6
            span.incr.btn.btn-default.col-sm-1(data-incr="down") &minus;
            .col-sm-4
              input.form-control(type='number', value='0')
            span.incr.btn.btn-default.col-sm-1(data-incr='up') &plus;

    .col-sm-6
      button.btn.btn-default.btn-success.btn-block#update-inventory(type='button') Update Inventory
    .col-sm-6
      a.btn.btn-default.btn-block(href="{{pathFor 'locations'}}") Cancel

