template(name='updateInventory')
  .col-md-12
    h1 {{name}}
    .beverages
      each beverages
        .beverage
          .name.col-md-6 {{name}}
          .number.col-md-6
            span.btn.btn-default.col-md-1 &minus;
            .col-md-4
              input.form-control(type='text')
            span.btn.btn-default.col-md-1 &plus;

    .col-md-6
      button.btn.btn-default.btn-success.btn-block#update-inventory(type='button') Update Inventory
    .col-md-6
      a.btn.btn-default.btn-block(type='button') Cancel

