template(name='invOrdButtons')
  .col-md-6
    +if isInRole 'inventory, admin'
      a.btn.btn-default.btn-success.btn-block(href="{{pathFor 'updateInventory'}}") Update Inventory
  .col-md-6
    +if isInRole 'order, admin'
      a.btn.btn-default.btn-block(href="{{pathFor 'recordOrder'}}") Record Order
